body {
    background-image: url('images/background.jpg');
    background-size: auto;
    color: #272727;
    font-family: 'News Cycle', sans-serif;
}

header {
    background-color: rgba(122, 153, 196, 0.5);
    text-align: center;
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1 {
    font-weight: bold;
}

h3 {
    font-style: italic;
}

h4{
    padding-top: .5rem;
    font-weight: bold;
    font-size: xx-large;
}

h5 {
    padding-top: .5rem;
    font-weight: bold;
    font-size: x-large;
}

.weather-img {
    min-height: 8rem;
}

.div-search {
    background-color: rgba(12, 58, 121, 0.5);
    min-height: 12rem;
    padding-bottom: .5rem;
}

.text-box {
    background-color: rgba(255, 255, 255, 0.5);
    height: 3rem;
    font-weight: bolder;
}

.btn-blue {
    background-color: #7a99c4;
    color: #0c3a79;
    margin-left: .5rem;
    height: 3rem;
}

.list-item {
    background-color: rgba(122, 153, 196, 0.25);
    color: #0c3a79;
    font-weight: bolder;
}

.search-card {
    background-color: rgba(122, 153, 196, 0.5);
    min-height: 12rem;
}

.div-today {
    background-color: rgba(122, 153, 196, 0.5);
    min-height: 12rem;
    padding-bottom: .5rem;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.div-forcast {
    background-color: rgba(250, 233, 32, 0.5);
    min-height: 12rem;
    padding-bottom: .5rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}
